{% extends "layout.html" %}
{% block body %}
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KRDT5Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KRDT5Z');</script>
<!-- End Google Tag Manager -->

{% if login_error %}
<body onload="show_login_form()">
{% elif signup_error %}
{% endif %}
<section class="description">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <p> Learn more about your favorite mangas on  Mangacork </p>
                <p> Read the author's notes and thoughts on plot points and characters </p>
                <br />
                <a href="{{ next_page }} " class="button"> Start </a>
            </div>
        </div>
    </div>
</section>

{% if login_error %}
</body>
{% elif signup_error %}
</body>
{% endif %}
{% endblock %}
