<html>
<head>
    <meta charset="utf-8">
    <title>Manga Cork</title>
    <meta name="description" content="Manga cork, read your favorite mangas with author's and community commentaries!">
    <meta name="keywords" content="Manga, manga, manga cork, comment, pin, forum">
    <meta name="author" content="Sebastien Luong">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/lib/normalize.css">
    <link rel="stylesheet" href="/static/css/lib/skeleton.css">
    <link rel="stylesheet" href="/static/css/lib/dialog-polyfill.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <script src="/static/js/manga.js"> </script>
    <script src="/static/js/lib/dialog-polyfill.js"> </script>
</head>
<header class="top">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <a href="{{ url_for('index') }}"><h1> Manga Cork </h1> </a>
            </div>
            <div class="six columns">
                {% if session['username'] %}
                    <a href="{{ url_for('signout') }}" id="logout_button" class="button"> {{ session['username'] }} - Log out </a>
                {% else %}
                    <button id="login_button" onclick="show_login_form()"> Log in </button>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<section class="login">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <dialog id="login_form" onclick="check_click_location_login(event)">
                <h3> Login </h3>
                <form action = "/login"  method="post">
                    <input type="hidden" name="chapter" value="{{ chapter }}" />
                    <input type="hidden" name="page" value="{{ page }}" />

                    {{ login_form.username.label }}
                    {{ login_form.username() }}

                    {{ login_form.password.label }}
                    {{ login_form.password() }}

                    {% if login_error_buffer %}
                        <p class="errors">{{ login_error_buffer }}</p>
                    {% endif %}
                    <br>
                    <a href="#" onclick="show_signup_form()"> Sign Up </a>
                    <br>
                    <input type="submit" value="Submit" />
                    {{ login_form.csrf_token }}
                </form>
                </dialog>
            </div>
        </div>
    </div>
</section>
<section class="signup">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <dialog id="signup_form" onclick="check_click_location_signup(event)">
                <h3> Sign Up </h3>
                <form action = "/signup"  method="post">
                    <input type="hidden" name="chapter" value="{{ chapter }}" />
                    <input type="hidden" name="page" value="{{ page }}" />

                    {{ signup_form.username.label }}
                    {{ signup_form.username() }}

                    {{ signup_form.email.label }}
                    {{ signup_form.email() }}

                    {{ signup_form.password.label }}
                    {{ signup_form.password() }}

                    {{ signup_form.confirm.label }}
                    {{ signup_form.confirm() }}

                    {% if signup_error_buffer %}
                        <p class="errors">{{ signup_error_buffer }}</p>
                    {% endif %}
                    <br>
                    <input type="submit" value="Submit" />
                    {{ signup_form.csrf_token }}
                </form>
                </dialog>
            </div>
        </div>
    </div>
</section>

{% block body %} {% endblock %}
</html>
