<html>
<head>
    <meta charset="utf-8">
    <title>Manga Cork</title>
    <meta name="description" content="Manga cork, pin and comment  ">
    <meta name="keywords" content="Manga, manga, manga cork, comment, pin, forum">
    <meta name="author" content="Sebastien Luong">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/lib/normalize.css">
    <link rel="stylesheet" href="/static/css/lib/skeleton.css">
    <link rel="stylesheet" href="/static/css/lib/dialog-polyfill.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="/static/js/manga.js"> </script>
    <script src="/static/js/lib/dialog-polyfill.js"> </script>
</head>
<header class="top">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <a href="/"><h1> Manga Cork! </h1> </a>
            </div>
            <div class="six columns">
                <button id="login_button" onclick="show_login_form()"> Log in </button>
            </div>
        </div>
    </div>
</header>
<section class="login">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <dialog id="login_form" onclick="check_click_location(event)">
                <form action = "/{{ chapter }}/{{ page }}" method="post">
                    <label for="username">Username</label>
                    <input type="text" name="username" />
                    <label for="password">Password</label>
                    <input type="password" name="password"/>
                    <br>
                    <a href="#"> Register </a>
                    <br>
                    <input type="submit" value="Submit" />
                    {{ form.csrf_token }}
                </form>
                </dialog>
            </div>
        </div>
    </div>
</section>
{% block body %} {% endblock %}
</html>
