{% extends "layout.html" %}
{% block body %}

{% if login_error %}
<body onload="show_login_form()">
{% elif signup_error %}
<body onload="show_signup_form()">
{% endif %}
<section class="manga">
	<div class="container">
		<div class="row">
			<div class="nine columns">

				<a href="{{ next_page }}">
						<img src="/static/images/{{ chapter }}/{{ page }}.jpg"
                             alt="manga pic"/>
				</a>
			</div>
            <div class="three columns">
                <div id="post_section" class="post_section">
                   <form method="post" action="{{ url_for('add_entry') }}">
                        <input type="hidden" name="chapter" value="{{ chapter }}"/>
                        <input type="hidden" name="page" value="{{ page }}"/>
                        <textarea name="post_text"  rows="4"></textarea>
                        <br/>
                        <input type="submit" value="Post">

                    </form>
                </div>
                <i id="manga_edit_btn" class="fa fa-pencil-square-o" 
                    onclick="toggle_post()"></i>
                <i id="manga_edit_btn" class="fa fa-comments-o"
                    onclick="toggle_comments()"></i>
                <div id="comment_section" class="comment_section">
                    <ul class="comments">
                    {% for i in comments %}
                        <li><b>{{ i.username }}</b> says: {{i.comment}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
		</div>
	</div>
</section>
{% if login_error %}
</body>
{% elif signup_error %}
</body>
{% endif %}
{% endblock %}
