{% extends "layout.html" %}
{% block body %}
<section class="manga">
	<div class="container">
		<div class="row">
			<div class="nine columns">

				<a href="{{ next_page }}">
						<img src="/static/images/{{ image_path }}.jpg"
                             alt="manga pic"/>
				</a>
			</div>
            <div class="three columns">
                <div class="post_section">
                   <form method="post" action="{{ url_for('add_entry') }}">
                        <input type="hidden" name="image_path" value="{{ image_path }}"/>
                        <textarea name="post_text"  rows="4"></textarea>
                        <br/>
                        <input type="submit" value="Post">

                    </form>
                </div>
                <i id="manga_edit_btn" class="fa fa-pencil-square-o" 
                    onclick="toggle_post()"></i>
                <i id="manga_edit_btn" class="fa fa-comments-o"
                    onclick="toggle_comments()"></i>
                <div class="comment_section">
                    <ul class="comments">
                    {% for i in comments %}
                        <li>{{i.comment}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
		</div>
	</div>
</section>

{% endblock %}
