/* TOP SECTION
----------------------------------------*/

.top a {
    text-decoration: none;
}

.top button {
    margin-top: 1rem;
    float: right;
}

.top h1 {
    color: #34495e;
}

#logout_button {
    margin-top: 1rem;
    float: right;
}

/* LOGIN + REGISTER SECTION
----------------------------------------*/

.login dialog::backdrop {
    background-color: rgba(0,0,0,0.7);
}

.signup dialog::backdrop {
    background-color: rgba(0,0,0,0.7);
}

.errors {
    margin-bottom: 0rem;
    color: red;
}

/* MANGA SECTION
----------------------------------------*/

.manga {
	display: inline;
}

.manga img {
	width: 100%;
}

.manga i {
    font-size: 5rem;
    color: black;
}

.manga i:hover {
    cursor: pointer;
}

.manga ul {
    list-style-type: none;
}

.manga .comment_section {
    padding-top: 2rem;
}

