/* TOP SECTION
----------------------------------------*/

.top a {
    text-decoration: none;
}

.top button {
    margin-top: 1rem;
    float: right;
}

/* LOGIN SECTION
----------------------------------------*/
.login dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}

/* MANGA SECTION
----------------------------------------*/

.manga {
	display: inline;
}

.manga img {
	width: 100%;
}

.manga i {
    font-size: 5rem;
    color: black;
}

.manga i:hover {
    cursor: pointer;
}

.manga ul {
    list-style-type: none;
}

.manga .comment_section {
    padding-top: 2rem;
}

