.top a {
    text-decoration: none;
}

.top button {
    margin-top: 1rem;
    float: right;
}

.manga {
	display: inline;
}

.manga img {
	width: 100%;
}

.manga i {
    font-size: 5rem;
    color: black;
}

.left_pane {
	width: 50%;
}